
<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#4F7DC9">
  <meta charset="UTF-8">
  <title>Vue勉強会 8 / 22 20~</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
  <style>
    .success {
      color: #1e8e3e;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <google-codelab-analytics gaid="UA-49880327-14"></google-codelab-analytics>
  <google-codelab codelab-gaid="XXXXXXXX"
                  id="vue-hihumikan-markdown"
                  title="Vue勉強会 8 / 22 20~"
                  environment="web"
                  feedback-link="https://github.com/hihumikan/codelab-vue">
    
      <google-codelab-step label="待機スライド" duration="0">
        <p class="image-container"><img alt="head" src="img/b96271d8c1719113.png"></p>


      </google-codelab-step>
    
      <google-codelab-step label="はじめに" duration="3">
        <h2 is-upgraded>話す事</h2>
<ul>
<li>Webサイトの概要</li>
<li>Vue.jsの基礎構文</li>
<li>公開方法の概要</li>
<li>今後のステップアップ</li>
</ul>
<aside class="special"><p>ゴール</p>
</aside>
<p>✅ Webアプリの大体の作り方の流れ</p>
<p>✅ Vueをなんとなく理解</p>
<aside class="warning"><p>話さない事</p>
</aside>
<p>❌ Vueの細かい機能や説明</p>
<p>❌ 他のフレームワーク、言語の比較</p>
<p>❌ HTML/CSS/vanilla jsの説明</p>


      </google-codelab-step>
    
      <google-codelab-step label="サンプル" duration="1">
        <p class="image-container"><img alt="douga" src="img/6951ac8cb6400cc1.gif"></p>


      </google-codelab-step>
    
      <google-codelab-step label="自己紹介" duration="1">
        <p class="image-container"><img alt="hihumikan" src="img/18f998caa0a12111.png"></p>
<p>※資料間違ってたらごめんなさい！</p>


      </google-codelab-step>
    
      <google-codelab-step label="Webサイトの概要" duration="6">
        <h2 is-upgraded>Webサイトについて</h2>
<p>スマホやパソコン上で表示されているWebサイトは大体、<strong>HTML/CSS/JavaScript</strong>の３つの技術が用いられます。大まかにHTMLでWebページを作成し、CSSで見た目をデザイン、動きの部分でJavaScriptといった役割を持っています。</p>
<p>Webサイトを公開するだけならばHTMLとCSSで十分ですが、「<strong>クリックした時にメッセージを表示させたい</strong>」「<strong>このツイートにいいねしたい</strong>」「<strong>画像が入れ替われるようにしたい</strong>」などに、JavaScriptはよく利用されます。</p>
<p>つまり、クリックによって色々変えたいとかプログラミングっぽいことをするならJavaScriptは必要になるということです。</p>
<h2 is-upgraded>Vue.jsとは？</h2>
<p>今回の勉強会のテーマとなっているVue.jsはそのJavaScriptの<a href="https://www.otsuka-shokai.co.jp/words/framework.html" target="_blank">フレームワーク</a>となっており、通常のJavaScriptよりも<strong>少ないコード</strong>で開発出来たり、<strong>簡単に保守</strong>が出来たりするなど時間的コストを<strong>大幅に短縮出来る</strong>ものです。</p>
<p>最近のWebアプリケーションの開発ではVue.jsが多くの企業で使われ、今人気のフレームワークとなっています。学習コストの低さもあるため、この機会にVue.jsを触ってみましょう。</p>
<p>※Vue.jsを使っているサイト一例</p>
<ul>
<li>note　 <a href="https://note.com/" target="_blank">https://note.com/</a></li>
<li>サイバーエージェント　<a href="https://www.cyberagent.co.jp/" target="_blank">https://www.cyberagent.co.jp/</a></li>
<li>Geartics　<a href="https://www.geartics.com/" target="_blank">https://www.geartics.com/</a></li>
</ul>
<p>他にも、Vue.jsに対抗するライブラリやフレームワークなどがあり、ReactやAngular、JQuery、Svelteなどが存在します。今回の勉強会ではそれらの説明は割愛させて頂きますが、興味があったら調べてみてね。特にReact。</p>


      </google-codelab-step>
    
      <google-codelab-step label="Vueの解説ステップ" duration="1">
        <p>それでは、実際にWebアプリケーションを作成する方法を解説していきます。</p>
<p>ステップ毎に解説しております。</p>
<h2 is-upgraded>STEP1: 開発環境を整える</h2>
<h2 is-upgraded>STEP2: HelloWorldしてみる</h2>
<h2 is-upgraded>STEP3: カウントアップアプリ</h2>
<h2 is-upgraded>STEP4: Webサイトの公開</h2>
<p>次のページでSTEP1を解説していますので、Nextを押してください。</p>


      </google-codelab-step>
    
      <google-codelab-step label="STEP1:開発環境を整える" duration="5">
        <h2 is-upgraded>Vue.jsの種類</h2>
<p>Vue.jsを使って開発する場合、<strong>CDNを利用する方法</strong>と<strong>Vue CLIを利用する方法</strong>の2種類存在します。</p>
<p>CDNの場合、htmlファイルに<strong>scriptタグを読み込ませるだけ</strong>。開発環境を整えなくても利用することができます。</p>
<p>Vue CLIの場合、Vue.jsの基本機能に加えて、<strong>開発環境をすぐに作れる</strong>優れもの。<strong>色々な拡張機能を追加</strong>できて、基本的にはこっちが利用される。</p>
<p>ただし、Vue CLIを利用するには<strong>Node.jsをインストールする必要</strong>があり、時間の都合上、今回の勉強会では、Vue.jsの基本機能を簡単に試せるCDN版を利用します。</p>
<h2 is-upgraded>エディタについて</h2>
<p>今回はオンラインエディタを利用して、Vue.jsを使用します。下記のリンクを踏んでいただき、こちらでコードを試し書きしていただく形となります。</p>
<p><strong>ひな形 </strong><a href="https://codepen.io/hihumikan/pen/mdmvGay" target="_blank"><strong>https://codepen.io/hihumikan/pen/mdmvGay</strong></a></p>
<p>※オンラインエディタを使用しなくとも、<a href="https://visualstudio.microsoft.com/ja/" target="_blank">Visual Studio Code</a>を利用して、index.htmlを新規に作成して作ることもできます。</p>
<h2 is-upgraded>導入</h2>
<p>CDNを用いて、利用する場合に、</p>
<pre><code>&lt;script src=&#34;https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js&#34;&gt;&lt;/script&gt;
</code></pre>
<p>をhtmlファイルに記述することによってVue.jsの基本機能を導入することが出来ます。</p>


      </google-codelab-step>
    
      <google-codelab-step label="STEP2:HelloWorldしてみる" duration="7">
        <h2 is-upgraded>htmlの部分</h2>
<p>まず、<a href="https://codepen.io/hihumikan/pen/mdmvGay" target="_blank">ひな形</a>のコードを見てみましょう。</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&#34;ja&#34;&gt;

&lt;html&gt;

&lt;head&gt;
    &lt;meta charset=&#34;UTF-8&#34;&gt;
    &lt;script src=&#34;https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js&#34;&gt;&lt;/script&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id=&#34;app&#34;&gt;
        &lt;h1&gt;&#123;&#123; message }}&lt;/h1&gt;
    &lt;/div&gt;

    &lt;script&gt;
        new Vue({
            el: &#39;#app&#39;,
            data: {
                message: &#39;Hello World!!&#39;,
            }
        })
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</code></pre>
<p>上記のコードが書かれています。webページ上に表示する文字列やVueで動かしたい部分は<strong>bodyタグの中に</strong>記述します。</p>
<pre><code>&lt;div id=&#34;app&#34;&gt;
    &lt;h1&gt;&#123;&#123; message }}&lt;/h1&gt;
&lt;/div&gt;
</code></pre>
<p>まず、divタグにidを指定します。基本的にはidの名前は何でも良いですが、慣例的にappとしています。 このdivタグで囲まれた部分の<strong>内側</strong>でVue.jsが使えるようにします。</p>
<h2 is-upgraded>Vueの部分</h2>
<pre><code>new Vue({
    // データやメソッドを定義する
})
</code></pre>
<p>ここの部分ではコンストラクタ関数のVueを使用してVueインスタンスを生成します。Vueを利用するにあたって、この記法は必ず書きますので、覚えておきましょう。</p>
<pre><code>el: &#39;#app&#39;,
</code></pre>
<p>このelではVue.jsが作用を及ぼす範囲を指定します。先程の<code>&lt;div id=&#34;app&#34;&gt;</code>の内側で動作するように指定した、という感じですね。</p>
<h2 is-upgraded>data</h2>
<pre><code>data: {
    message: &#39;Hello World!!&#39;,
}
</code></pre>
<p>dataはアプリケーションで利用する<strong>変数</strong>みたいなもの。つまり、messageというプロパティの中身はHello World!!という値入ってるという意味になる。</p>
<pre><code>data: {
    //boolean
    Boolean: false,

    //数字
    Number: 0,

    //配列
    Array: [1, 2, 3, 4, 5],

    //オブジェクト
    Object: {
        pachinko: &#34;ZENT&#34;,
        b: 2,
        c: 3
    },
}
</code></pre>
<p>これの他にオブジェクトや配列などを入れることも可能です。</p>
<h2 is-upgraded>テキストのデータバインディング</h2>
<pre><code>&lt;h1&gt;&#123;&#123; message }}&lt;/h1&gt;
</code></pre>
<p>先程、messageにはHello World!!が入ってると書きましたが、それを表示させる方法はこれ。 括弧で囲まれた中に表示したいプロパティ名を書くと、&#123;&#123; message }}と表示されずにHello World!!が表示される。</p>
<pre><code>&lt;h1&gt;&#123;&#123; Object.pachinko }}&lt;/h1&gt;
&lt;h1&gt;&#123;&#123; Array[2] }}&lt;/h1&gt;
</code></pre>
<p>オブジェクトデータや配列を指定する場合はこう。</p>
<p>実際には</p>
<pre><code>ZENT
3
</code></pre>
<p>が表示される。</p>
<h2 is-upgraded>結果的に・・・。</h2>
<p class="image-container"><img alt="head" src="img/ca42365970887caf.png"></p>
<p>無事にHello World!!が表示されました。おめでとうございます！あなたはもうVue.jsのプログラマーです！</p>


      </google-codelab-step>
    
      <google-codelab-step label="STEP3:カウントアップアプリ" duration="5">
        <p><strong>カウントアップアプリのサンプルです。 </strong><a href="https://codepen.io/hihumikan/pen/wvdNLgY" target="_blank"><strong>https://codepen.io/hihumikan/pen/wvdNLgY</strong></a></p>
<ol type="1">
<li>カウンタ表示はテキスト(text)の初期表示を&#34;0&#34;とします。</li>
<li>加算ボタンを押下したときは、カウンタ表示ラベルの数値を1ずつ足します。</li>
<li>リセットボタンを押下したときは、カウンタ表示ラベルの数値を&#34;0&#34;に戻します。</li>
<li>減算ボタンを押下したときは、カウンタ表示ラベルの数値を1ずつ減らします。</li>
<li>10,-10になった途端にアラームが出て文字の色が変わります。</li>
</ol>
<h2 is-upgraded>v-onディレクティブとmethods</h2>
<p>まず初めに、ボタンを押す場合に加算を行う処理を書いていきます。</p>
<pre><code>&lt;button v-on:click=&#34;countUP&#34; type=&#34;button&#34;&gt;+&lt;/button&gt;
</code></pre>
<pre><code>data: {
    count: 0,
},

methods: {
    countUP: function () {
    this.count++;
},
</code></pre>
<p>まずHTML側では、ボタンタグに<code>v-on:click=&#34;countUP&#34;</code>を追加します。ボタンをクリックした場合に置いて、methodsのcountUP(関数)を呼び出せるものです。</p>
<p>methodsでは関数を定義出来ます。countUPを押された場合において、<code>this.count++;</code>を実行します。 こうすることによって、countの値が+1されるようになります。</p>
<p>注意するべきは&#34;this&#34;の部分です。<code>count++;</code>と書いてしまっては動作しません。また、</p>
<pre><code>methods: {
    countUP: () = &gt; {
    this.count++;
    }
},
</code></pre>
<p>のようなアロー関数ではthisを使用することは出来ません。</p>
<h2 is-upgraded>computed</h2>
<pre><code>&#123;&#123; DoubleCount }}
</code></pre>
<pre><code>computed: {
     DoubleCount: function () {
        return this.count * 2;
        },
</code></pre>
<p>methodsの計算バージョン。結果をキャッシュする機能を持つ。元のデータに変更があるまで何度使用しても関数内の処理は<strong>一度しか</strong>処理されない。複雑な処理とかなどに利用される。</p>
<h2 is-upgraded>v-bind</h2>
<p>文字を色とか文字の大きさなど、タグの属性をdataの中にある<strong>値を利用して変えたい</strong>場合に置いて使用します。</p>
<pre><code>&lt;h1 v-bind:class=&#34;changeColor&#34; class=&#34;card-header pt-2 pb-2&#34;&gt;
     &#123;&#123; count }}
&lt;/h1&gt;
</code></pre>
<pre><code>data: {
    changeColor: &#34;red&#34;,
},
</code></pre>
<pre><code>&lt;style&gt;
        .red {
            color: red;
        }

        .blue {
            color: blue;
        }
&lt;/style&gt;
</code></pre>
<p>v-bind:classでプロパティ名（changeColor）を指定することによって、<strong>動的に</strong>属性を変更することが可能になります。 つまり、changeColorの値を&#34;blue&#34;にしたら、cssで定義されている.blueが適用されて、文字が青になり、&#34;red&#34;にしたら文字が赤色に変化します。</p>
<h2 is-upgraded>watch</h2>
<pre><code>watch: {
    監視したいデータ: function (新しい値, 古い値) {
</code></pre>
<p>基本的にこうやって書きます。 このwatchは特定のデータ又は算出プロパティの値の<strong>変化を監視</strong>して、変化があった場合に実行します。 算出プロパティとは違い、<strong>これ自体がデータを返すことはありません</strong>。</p>
<pre><code>watch: {
    count: function (newValue, oldValue) {
    console.log(newValue, oldValue);

    if (newValue === 10) {
        alert(&#34;10回繰り返しました&#34;);
        }
    if (newValue === -10) {
        alert(&#34;10回繰り返しました&#34;);
        }
    }
},
</code></pre>
<p>この場合では10回ボタンが押された時にアラートが出てくるといった処理になります。</p>
<h2 is-upgraded>v-if</h2>
<pre><code>&lt;center&gt;
    &lt;p v-if=&#34;count == 10 || count == -10&#34;&gt;10回押されました。&lt;/p&gt;
&lt;/center&gt;
</code></pre>
<p>プログラミング言語と同じ<strong>条件分岐</strong>。v-ifの中が<strong>true</strong>であれば表示される。 この場合で言えば、countが10か-10であれば、「10回押されました」表示される。</p>
<p>また、</p>
<pre><code>data: {
    pachinkoDaisuki: false,
},
</code></pre>
<pre><code>&lt;center&gt;
    &lt;p v-if=&#34;pachinkoDaisuki&#34;&gt;パチンコ大好き！&lt;/p&gt;
    &lt;p v-else=&#34;pachinkoDaisuki&#34;&gt;パチンコ嫌い!&lt;/p&gt;
&lt;/center&gt;
</code></pre>
<p>こういう書き方でも可能。実際に実行すると、pachinkoDaisukiはfalseなので、「パチンコ大好き！」は実行されずに、「パチンコ嫌い!」が表示される。</p>
<h2 is-upgraded>v-model</h2>
<pre><code>data: {
    textform: &#34;&#34;,
},
</code></pre>
<pre><code>&lt;div class=&#34;pt-5&#34;&gt;
    &lt;input v-model=&#34;textform&#34; type=&#34;text&#34; placeholder=&#34;入力してください&#34;&gt;
&lt;/div&gt;
&lt;div class=&#34;pt-5&#34;&gt;
    &#123;&#123; textform }}
&lt;/div&gt;
</code></pre>
<p>v-modelはユーザの入力をdataに入れたい時に使用します。</p>
<p>この例では、inputタグに<code>v-model=&#34;プ</code>ロパティ名&#34;を入れることによって、dataと同期することができます。</p>
<p><img alt="nagakute" src="img/a84f71b484b87642.png"> つまり、このinputタグに「パチンコ長久手」と入力すると、textform: &#34;パチンコ長久手&#34;と代入される、ということになる。</p>


      </google-codelab-step>
    
      <google-codelab-step label="STEP4:Webサイトの公開" duration="1">
        <p>今回の勉強会ではデプロイの細かい方法の説明は省きますが、無料のデプロイ先をご紹介します。</p>
<h2 is-upgraded><a href="https://pages.github.com/" target="_blank">GitHub Pages</a></h2>
<p>GitHubが運営するホスティングサービス。GitHubのリポジトリに上げるだけで公開できる。GitHubだけで完結するので一番シンプル。</p>
<p><a href="https://prog-8.com/docs/github-pages" target="_blank">https://prog-8.com/docs/github-pages</a></p>
<p><a href="https://qiita.com/sota_mikami/items/c6038cf13fd84b519a61" target="_blank">https://qiita.com/sota_mikami/items/c6038cf13fd84b519a61</a></p>
<h2 is-upgraded><a href="https://www.netlify.com/" target="_blank">Netlify</a></h2>
<p>GitHubとかに連携すると勝手にデプロイしてくれる。ブランチ毎に公開URLを発行してくれたり、リダイレクトや505ページの設定など、色々機能が詰まってる。 出来る機能面も含めて、公開するならこれがベター。</p>
<p><a href="https://simple-it-life.com/2020/08/30/netlify/" target="_blank">https://simple-it-life.com/2020/08/30/netlify/</a></p>
<h2 is-upgraded><a href="https://vercel.com/" target="_blank">Vercel</a></h2>
<p>Netlifyキラーと呼ばれるやつ。<a href="https://zenn.dev/catnose99/scraps/6780379210136f" target="_blank">表示速度とかこっちが速いらしい</a>。だいたい出来る機能は同じ。ISR使う時など。</p>
<p>サービス毎によってデプロイ方法などは変わってくるので、各自調べてデプロイしてみてね。</p>


      </google-codelab-step>
    
      <google-codelab-step label="最後に" duration="7">
        <p>今回はVue.jsを触ってみました。しかし、紹介した機能は<strong>ほんの一部分</strong>に過ぎず、他にも沢山の機能を持ち合わせています。</p>
<p>近年のWeb開発ではVue.jsの機能を使いながらアプリケーションを作成できるので、ぜひこの機会に、学習しながら使ってみてはいかがでしょうか？</p>
<h2 is-upgraded>今回分からなった人は</h2>
<p>HTMLやCSS、生のJavaScriptの構文などは説明していなかったため、理解出来なかった方もいるかと思います。</p>
<p>以下、講師がおすすめするWebフロントの入門書,サイトを紹介します。 プログラミングに不慣れな方(大学に入学後初めてプログラミングを経験した方など)は、手元に置いておく、ブックマークなどしていつでも見れるようにしておきましょう。</p>
<h2 is-upgraded><a href="https://www.amazon.co.jp/%E3%82%B9%E3%83%A9%E3%82%B9%E3%83%A9%E3%82%8F%E3%81%8B%E3%82%8BJavaScript-%E7%94%9F%E5%BD%A2-%E5%8F%AF%E5%A5%88%E5%AD%90/dp/4798125830" target="_blank">スラスラわかるJavaScript</a></h2>
<p>1年後期のkk,kxで受けられる「Webプログラミング」で使用されるテキスト。受ける人は必ず購入することになるので、今のうちに買っておいても良いかも。 html,CSS,javascript(jQuery)の基本的な文法などが載ってる。しかし、書いてある内容が古いかつ、詳しい解説などは省かれているので、この本だけでは物足りないかも知れない。</p>
<p>あと、今後この先はjQueryは衰退していく一方なので、覚えなくても良い。</p>
<h2 is-upgraded><a href="https://cbc-study.com/" target="_blank">CRI BOOT CAMP オンライン学習サイト</a></h2>
<p>上のテキストを購入したくない、お金払いたくない人はこっち。基本的なやり方は網羅しており、色々な話題が書いてある。 バックエンドのPHP(Laravel)とかwebデザイン、SCSSも書かれているので、コレが出来たらフロントエンド超出来るといっても良い。</p>
<h2 is-upgraded><a href="https://jsprimer.net/" target="_blank">JavaScript Primer</a></h2>
<p>スラスラわかるJavaScriptでは紹介されなかったJavaScriptの記法なども色々網羅している無料の学習サイト。 2年前期のkk「オブジェクト指向プログラミング」で説明される、クラスやオブジェクトの概念、Map/Set、例外処理などもここで丁寧に説明してる。これらを先に学んでおけば2年前期の講義は楽になると思う。</p>


      </google-codelab-step>
    
  </google-codelab>

  <script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/custom-elements.min.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>
  <script src="//support.google.com/inapp/api.js"></script>

</body>
</html>
